In [21]:
# import
from geopy.geocoders import Nominatim

# To geolocate a query to an address and coordinates:
geolocator = Nominatim(user_agent="app_name_here")
location = geolocator.geocode("175 5th Avenue NYC")
print(location.address)

Flatiron Building, 175, 5th Avenue, Flatiron District, Manhattan Community Board 5, Manhattan, New York County, New York, 10010, United States of America

In [22]:
# print latitude and longitude
print((location.latitude, location.longitude))

(40.741059199999995, -73.98964162240998)

In [23]:
print(location.raw)

{'place_id': 150272128, 'licence': 'Data Â© OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright', 'osm_type': 'way', 'osm_id': 264768896, 'boundingbox': ['40.7407597', '40.7413004', '-73.9898715', '-73.9895014'], 'lat': '40.741059199999995', 'lon': '-73.98964162240998', 'display_name': 'Flatiron Building, 175, 5th Avenue, Flatiron District, Manhattan Community Board 5, Manhattan, New York County, New York, 10010, United States of America', 'class': 'tourism', 'type': 'attraction', 'importance': 0.7405988542685404, 'icon': 'https://nominatim.openstreetmap.org/images/mapicons/poi_point_of_interest.p.20.png'}

In [25]:
from geopy.geocoders import Nominatim

In [1]:
geolocator = Nominatim(user_agent="app_name_here")
location = geolocator.geocode("11111 Euclid Ave")
print(location.address)

NameError: name 'Nominatim' is not defined

In [27]:
from geopy.geocoders import get_geocoder_for_service
get_geocoder_for_service("nominatim")

geopy.geocoders.osm.Nominatim

In [28]:
import pandas

df = pandas.read_json("supermarkets.json")
df

,Address,City,Country,Employees,ID,Name,State
0,3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114
1,735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119
2,332 Hill St,San Francisco,USA,25,3,Super River,CA 94114
3,3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114
4,1056 Sanchez St,San Francisco,USA,12,5,Sanchez,CA 89446
5,551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114